body {background-color: white;}
h1 {font-family: arial;}
h2 {font-family: arial;}
h3 {font-family: arial;}
p {font-family: arial;}
pre {font-family: arial;}
/* taken reference from https://www.w3schools.com/html/html_lists_unordered.asp */
ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background: rgb(3, 212, 249);
}
li {
      float: left;
}
li a {
      display: block;
      color: white;
      text-align: center;
      padding: 16px;
      text-decoration: none;
      font-family: arial;
}
li a:hover {
      background-color: rgb(0, 153, 255);
}
.about {
      display: flex;
}
.about > div {
      width: 50%;
} 